{% extends 'base.html' %}
{% load widget_tweaks %}  

{% block title %}photo_form.html{% endblock %}

{% block content %}
<h4>photo create/update -{{user}}</h4>
<p class='font-italic'>this is a create or update</p>

{%if form.errors %}
<div class='alert alert-danger'>
    <div class='font-weight-bold'>Wrong! Please correct the errors below</div>
    {{form.errors}}
</div>
{% endif %}

{% if form.is_multipart %}
<!-- 폼이나 폼셋 체크해서 multipart인코딩 필요한지 여부 알려줌
true면 enctpye=multipart/form-data로 지정 -->
<form enctype="multipart/form-data" action='' method='post'>
{% else %}
<form action='' method='post'></form>
{% endif %}
    {% csrf_token %}  
    <div class='form-group row'>
        {{ form.album|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold"}}
        <div class='col-sm-5'>
            {{form.album|add_class:'form-control'|attr:'autofocus'}}
        </div>
    </div>
    <div class='form-group row'>
        {{form.url|add_label_class:'col-form-label col-sm-2 ml-3 font-weight-bold'}}
        <div class='col-sm-5'>
            {{form.url|add_class:'form-control'}}
        </div>
        <div class='col-sm-5 my-auto'>
            <a href="{% url 'photo:album_add' %}">Add album</a>
        </div>
    </div>
    <div class='form-group row'>
        {{ form.album|add_label_class:"col-form-label col-sm-2 ml-3 font-weight-bold"}}
        <div class='col-sm-5'>
            {{form.album|add_class:'form-control'|attr:'autofocus'}}
        </div>
    </div>
    <div class='form-group row'>
        {{form.title|add_label_class:'col-form-label col-sm-2 ml-3 font-weight-bold'}}
        <div class='col-sm-5'>
            {{form.title|add_class:'form-control'}}
        </div>
    </div>
    <div class='form-group row'>
        {{form.image|add_label_class:'col-form-label col-sm-2 ml-3 font-weight-bold'}}
        <div class='col-sm-5'>
            {{form.image|add_class:'form-control'}}
        </div>
    </div>
    <div class='form-group row'>
        {{form.description|add_label_class:'col-form-label col-sm-2 ml-3 font-weight-bold'}}
        <div class='col-sm-5'>
            {{form.description|add_class:'form-control'}}
        </div>
    </div>
   

    <div class='form-group'>
        <div class='offset-sm-2 col-sm-5'>
            <input type='submit' value='register' class='btn btn-info'>
        </div>
    </div>
</form>


{% endblock %}