{% extends 'base.html' %}
{% load static %}

{% block title %}bookmark_list.html{% endblock %}



{% block content %}
    <h4>Bookmark list</h4>
    <br>

    <ul>
        {% for bookmark in object_list %}
            <li><a href="{% url 'bookmark:detail' bookmark.id %}">{{bookmark}}</a></li>
        {% endfor %} 
    </ul>

{% endblock %}





<!-- <!DOCTYPE html>
<html>
    <head>
        <title>Django Bookmark List</title>
    </head>
    <body>
        <div id='content'>
            <h1>Bookmark List</h1>
            <ul>
                {% for bookmark in object_list %}
                    <li><a href="{% url 'detail' bookmark.id %}">{{bookmark}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html> -->