<!DOCTYPE html>
<html lang='ko'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-UA-Compatible" content= "IE=edge">
        <meta name='viewport' content = "width=device-width, initial-scale=1">
        
    
        <title>{% block title %}Django Web Programming{% endblock %}</title>
        <!-- <link rel='stylesheet' href=''> -->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% block extra-style %}{% endblock %}
    </head>
   

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <span class="navbar-brand" href="#">Navbar</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item mx-1 btn btn-pimary">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item mx-1 btn btn-pimary">
                            <a class="nav-link" href="{% url 'bookmark:index' %}">Bookmark</a>
                        </li>
                        <li class="nav-item mx-1 btn btn-pimary">
                            <a class="nav-link" href="{% url 'blog:index' %}">Blog</a>
                        </li>
                        <li class="nav-item mx-1 btn btn-pimary">
                            <a class="nav-link" href="{% url 'blog:index' %}">Blog</a>
                        </li>
                        <li class="nav-item mx-1 btn btn-pimary">
                            <a class="nav-link" href="{% url 'photo:index' %}">Photo</a>
                        </li>
                        <li class="nav-item mx-1 btn btn-pimary">
                            <a class="nav-link"href="{% url 'blog:search' %}">Search</a>
                        </li>
                        <li class="nav-item dropdown mx-1 btn btn-pimary">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                            Dropdown
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin</a></li>
                                <li><a class="dropdown-item" href="{% url 'blog:post_archive' %}">blog</a></li>
                                <li><a class="dropdown-item" href="{% url 'blog:search' %}">Search</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex" action="" method="post">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="global_Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                    <ul class='navbar-nav ml-5 mr-5'>
                        <li class='nav-item dropdown mx-1 btn btn-ptimary'>
                            {% if user.is_active %} 
                                <a class='nav-link dropdown-toggle text-black' href='#' data-toggle='dropdown'>
                                    <i class='fas fa-user'></i>&ensp;{% firstof user.get_shor_name user.get_username %}&ensp;
                                </a>
                                <div class='dropdown-menu'>
                                    <a class='dropdown-item' href="{% url 'logout' %}">LOGOUT</a>
                                    <a class='dropdown-item' href="{% url 'password_change' %}">Change_password</a>
                                </div>
                            {% else %}
                                <a class='nav-link dropdown-toggle text-black' href='#' data-toggle="dropdown">
                                    <i class='fas fa-user'></i>&ensp;Anonymous&ensp;
                                </a>
                                <div class='dropdown-menu'>
                                    <a class='dropdown-item' href="{% url 'login' %}">LOGIN</a>
                                    <a class='dropdown-item' href="{% url 'register' %}">Register</a>
                                </div>
                            {% endif %}
                        </li>

                    </ul>
                </div>
            </div>
            
        </nav>
        {% block content %}
        {% endblock %}
        {% block footer %}{% endblock %}
        <!-- <fotter class='fixed-bottom bg-info'>
            <h4>This is FOOTER area</h4>
        </fotter> -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>        
        <script src="https//kit.fontwesome.com/c998a172fe.js"></script>
        {% block extra-script %}{% endblock %}
    </body>
</html>

